Taotleja: $!applicant.name<br />
Äriregistrikood: $!applicant.registrationId<br />
<br />
$!current_date<br />
<br />
<br />
<b>Riikliku alkoholiregistri registrikande kehtivuse lõppemisest teavitamine.</b><br />
<br />
Alkoholiregistri volitatud töötleja Põllumajandus- ja Toiduamet tuletab meelde, et vastavalt alkoholiseaduse §13¹ lg 1 kehtib alkoholiregistrisse tehtud registrikanne viis aastat. Registrikande pikendamiseks järgmiseks viieks aastaks palun esitada vähemalt 30 päeva enne registrikande kehtivusaja lõppemist taotlus [alkoholiregistri iseteeninduskeskkonnas|Riiklik Alkoholiregister (agri.ee)]. Registrikande kehtivuse pikendamise taotluse läbivaatamise eest tasutakse [riigilõivu|[Tasud ja riigilõivud | Põllumajandus- ja Toiduamet (agri.ee)|https://pta.agri.ee/jarelevalve-korraldus-ja-tulemused/tasud-ja-riigiloivud]] 4 eurot.
<br />
<br />
<br />
Järgmised Teie poolt Riiklikusse alkoholiregistrisse kantud alkohoolsete jookide registrikanded kaotavad kehtivuse 60 või vähema päeva pärast:<br />
<br />
<table border="1" style="border-collapse: collapse;">
	<thead>
		<tr>
			<th>Registrikande number</th>
			<th>Registrikande kehtivuse lõppkuupäev</th>
			<th>Toote nimi</th>
			<th>Toote liik</th>
			<th>Maht</th>
			<th>Etanool %vol</th>
			<th>Päritoluriik/lähtekoht</th>
			<th>Tootja</th>
			<th>Tootjariik</th>
			<th>Pakendaja</th>
		</tr>
	</thead>
	<tbody>
	#foreach( $regentry in $regentries )
		<tr>
			$!regentry.getEmailInfo()
		</tr>
	#end
	</tbody>
</table>
<br />
<br />
----------------------------------------------------------------------------------<br />
See on automaatne teade, palume sellele kirjale mitte vastata.
